<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="QueueMgmt.Present.Maintenance.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="QueueDB" connectionString="Data Source=.;Initial Catalog=QueueDB;Integrated Security=SSPI;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <applicationSettings>
    <QueueMgmt.Present.Maintenance.Properties.Settings>
      <setting name="EnableDeleteNotProcessed" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableDeleteSucceeded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableDeleteFailed" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableDeleteRetrying" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableDeleteSkipped" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EnableDeleteCancelled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DeleteChunk" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="DeleteTimeout" serializeAs="String">
        <value>3600</value>
      </setting>
    </QueueMgmt.Present.Maintenance.Properties.Settings>
  </applicationSettings>
</configuration>